.container{
  max-width: 640px;
  margin: 0 auto;
  display: flex;
}
img{
  display: block;
}
li{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer{
  height: 120px;
}
p{
  text-align: start;
  font-size: 16px;
  line-height: 24px;
}
h2{
  font-size: 20px;
  line-height: 24px;
}
.mb {
  margin-left: 20px;
  margin-bottom: 24px;
}