/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  vertical-align: middle;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contanier {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
}

header {
  background-color: #AA0601;
  padding: 12px 36px;
}

@media (max-width: 720px) {
  header {
    padding: 12px 15px;
  }
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top .logo {
  width: 80px;
  height: auto;
}

.nav-top .hamburger {
  display: none;
}

@media (max-width: 720px) {
  .nav-top .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 20px;
    padding: 10px 5px;
  }
}

.nav-top .hamburger .hamburger-bar {
  background-color: #fff;
  width: 90%;
  padding-top: 3px;
  border-radius: 3px;
}

.nav-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .nav-top ul {
    display: none;
  }
}

.nav-top ul a {
  width: 25%;
  padding-right: 32px;
  padding-left: 32px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-top ul a:hover {
  background-color: #fff;
  color: #AA0601;
  font-weight: 900;
}

.nav-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.nav-footer li {
  margin: 0 auto;
  width: 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

.nav-footer .nav-alink {
  display: block;
  width: 100%;
  padding: 24px 0;
  font-size: 32px;
  line-height: 48px;
  color: #000;
  font-weight: 600;
}

.nav-footer .nav-alink:hover {
  padding-bottom: 16px;
  border-bottom: 8px solid #f8a09d;
}

@media (max-width: 992px) {
  .nav-footer .nav-alink {
    font-size: 24px;
    line-height: 36px;
    padding: 16px 0;
  }
  .nav-footer .nav-alink:hover {
    padding-bottom: 8px;
    border-bottom: 8px solid #f8a09d;
  }
}

@media (max-width: 720px) {
  .nav-footer .nav-alink {
    font-size: 16px;
    line-height: 24px;
  }
}

.nav-footer .nav-active {
  padding-bottom: 16px;
  border-bottom: 8px solid #AA0601;
}

.nav-footer .nav-active:hover {
  padding-bottom: 8px;
  border-bottom: 8px solid #AA0601;
}

@media (max-width: 992px) {
  .nav-footer .nav-active {
    padding-bottom: 8px;
    border-bottom: 8px solid #AA0601;
  }
}

.product-header-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

@media (max-width: 720px) {
  .product-header-photo {
    margin-bottom: 40px;
  }
}

.product-header-photo .product-header-img1 {
  width: 50%;
  padding-top: 296px;
  background-image: url("../img/product-header-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .product-header-photo .product-header-img1 {
    background-image: url("../img/product-header-sm-1.png");
    background-size: cover;
  }
}

@media (max-width: 720px) {
  .product-header-photo .product-header-img1 {
    padding-top: 136px;
  }
}

.product-header-photo .product-header-img2 {
  width: 50%;
  padding-top: 296px;
  background-image: url("../img/product-header-2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .product-header-photo .product-header-img2 {
    background-image: url("../img/product-header-sm-2.png");
    background-size: cover;
  }
}

@media (max-width: 720px) {
  .product-header-photo .product-header-img2 {
    padding-top: 136px;
  }
}

.product-page {
  padding: 0 36px;
}

@media (max-width: 720px) {
  .product-page {
    padding: 0 15px;
  }
}

.title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width: 720px) {
  .title {
    margin-bottom: 24px;
  }
}

.title h2 {
  font-size: 42px;
  line-height: 63px;
  font-weight: 600;
}

@media (max-width: 720px) {
  .title h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

.title h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

@media (max-width: 720px) {
  .title h3 {
    font-size: 24px;
    line-height: 36px;
  }
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 24px;
}

@media (max-width: 992px) {
  .product-box {
    gap: 40px 24px;
  }
}

@media (max-width: 720px) {
  .product-box {
    gap: 24px 0px;
  }
}

.product-card {
  width: 23%;
}

@media (max-width: 992px) {
  .product-card {
    width: 48%;
  }
}

@media (max-width: 720px) {
  .product-card {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .product-card img {
    width: 100%;
  }
}

.product-card .product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card .product-description .product-name {
  word-break: break-all;
  text-align: start;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.product-card .product-description .product-price {
  overflow: hidden;
  text-align: end;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #aa0601;
}

.color-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 8px;
}

.color-box .product-color1 {
  padding: 12px;
  border-radius: 4px;
  background-color: #5f3e2d;
}

.color-box .product-color2 {
  padding: 12px;
  border-radius: 4px;
  background-color: #b75929;
}

.pagination {
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination .pagebtn:active {
  background-color: #aa0601;
}

.pagination .pagebtn {
  width: 42px;
  height: 48px;
  font-size: 18px;
  line-height: 27px;
  background-color: #fff;
  color: #555555;
  border: 1px solid #555555;
  outline: none;
}

.pagination .pagebtn:hover {
  background-color: #f8a09d;
}

.pagination .pagebtn:focus {
  border: 3px solid #6d6d6d;
}

@media (max-width: 720px) {
  .pagination .pagebtn {
    width: 40px;
    height: 45px;
    font-size: 16px;
    line-height: 24px;
  }
}

.pagination .pre,
.pagination .next {
  font-size: 19px;
  line-height: 29px;
  width: 81px;
  height: 48px;
}

@media (max-width: 720px) {
  .pagination .pre,
  .pagination .next {
    width: 75px;
    height: 45px;
    font-size: 16px;
    line-height: 26px;
  }
}

.pagination .next {
  background-color: #f2f2f2;
}

.pagination .active {
  background-color: #000000;
  color: #fff;
  pointer-events: none;
}

footer {
  background-color: #AA0601;
  padding: 48px 36px 0px 36px;
}

@media (max-width: 720px) {
  footer {
    padding: 24px 15px 0px 15px;
  }
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #fff;
}

@media (max-width: 720px) {
  .footer-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 24px;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-order: 1;
}

@media (max-width: 720px) {
  .footer-nav {
    display: none;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-order: 3;
  }
}

.footer-nav a {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
}

.footer-nav a:hover {
  color: #f8a09d;
}

.footer-socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-order: 2;
}

@media (max-width: 992px) {
  .footer-socialmedia {
    gap: 16px;
  }
}

.footer-socialmedia img {
  width: 48px;
  height: auto;
}

@media (max-width: 720px) {
  .footer-socialmedia img {
    width: 24px;
  }
}

.footer-contactInfo {
  width: 100%;
  padding-top: 24px;
  color: #fff;
  font-size: 36px;
  line-height: 54px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-order: 3;
}

@media (max-width: 720px) {
  .footer-contactInfo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-order: 1;
    width: auto;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0px;
  }
}

.footer-contactInfo .contact-Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 720px) {
  .footer-contactInfo .contact-Info {
    gap: 10px;
  }
}

.footer-contactInfo .contact-Info a {
  color: #fff;
}

.footer-contactInfo .contact-Info i {
  width: 36px;
  height: auto;
}

@media (max-width: 720px) {
  .footer-contactInfo .contact-Info i {
    width: 18px;
  }
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 720px) {
  .footer-bottom {
    padding-top: 16px;
    padding-bottom: 24px;
    gap: 8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer-bottom p {
  font-size: 16px;
  line-height: 24px;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 720px) {
  .footer-bottom p {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
  }
}

.footer-bottom a {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

@media (max-width: 720px) {
  .footer-bottom a {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=all.css.map */